<div class="box box1">
  <div class="nav-header">
    <img src="../images/HR_Navigation_Image.jpg" alt="Logo" class="nav-image">
    <div class="nav-title">NAVIGATION</div>
  </div>
  <div class="nav-links">
    <a href="../index.html" class="nav-link">HOME</a>
    <a href="../about.html" class="nav-link current">ABOUT</a>
    <a href="../discography.html" class="nav-link">DISCOGRAPHY</a>
    <a href="../gallery.html" class="nav-link">GALLERY</a>
    <a href="../hall-of-fame.html" class="nav-link">HALL OF FAME</a>
    <a href="../contact.html" class="nav-link">CONTACT</a>
  </div>
</div>